@import (reference) "../../less/mixins/mixins.less";

.first-login-page {

    .terms-container {
        text-align: center;
        margin-top: 2rem;
    }

    .accept-terms-form {
        max-width: 500px;
        display: inline-block;
        border: 2px solid white;
        padding: 20px;
        border-radius: 5px;
    }

    .info-container {

        text-align: center;
        display: inline-block;
        padding: 1rem;
        margin-bottom: 1rem;

        .info-icon {
            margin-bottom: 1rem;
            img {
                width: 100px;
            }
        }

        .info-title {
            .display-1;
            font-size: 1.7rem;
            font-weight: bold;
            margin-bottom: 1.2rem;
        }

        .info-description {
        }
    }
}
