@import (reference) "../../less/mixins/mixins.less";

/* Wallet Page */

.wallet-container {

    .wallet-header {
        text-align: left;

        .icon-wallet {
            float: left;
            height: 54px;
            margin-top: 6px;
            margin-right: 1rem;
        }
        .details {
            h1 {
                margin-bottom: 0;
            }
            p {
                font-size: 0.813rem;
                line-height: 2rem;
            }
        }
        .wallet-address {
            margin-bottom: 0;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .wallet-actions {
            margin-left: 1rem;
        }
    }
    .wallet-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .btn-primary {
            width: auto;
        }
    }

    .wallet-section {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 20px 0;
        margin: 20px 0;

        .section-main {

            display: flex;

            .icon-wrapper {
                margin-right: 25px;

                .icon {
                    width: 50px;
                    height: 50px;
                }
            }

            .details {
                .section-title {
                    font-size: 1.1rem;
                    font-weight: bold;
                    padding-top: 0.1em;
                    margin-bottom: 0.1em;
                }
                .sub-text {
                    font-size: 0.8rem;
                }

            }
        }

        .currency-balance {
            .value {
                .currency-display {
                    font-size: 1.1rem;
                }
            }
        }

        .section-actions {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-secondary {
                margin-left: 20px;
            }
        }

    }

}

// Large devices (desktops, less than 1200px)
@media screen and (max-width: 1279px) {

}

// Medium devices (tablets, less than 992px)
@media screen and (max-width: 959px) {
    .wallet-container {
        .wallet-header {
            .icon-wallet {
                float: left;
                margin-bottom: 0.5rem;
            }
            .details {
                display: block;
                h1 {
                    margin-bottom: 0.187rem;
                }
                p {
                    line-height: 140%;
                    margin-bottom: 0;
                    font-size: 0.75rem;
                }
            }
        }
        .wallet-actions {
            .wallet-action {
                & + .btn-primary {
                    margin-top: 0;
                    margin-left: 1rem;
                }
            }
        }
        .currency-balance {
            .value {
                .currency-code {
                    color: rgba(255, 255, 255, 0.75);
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 599px) {
    .wallet-container {
        .wallet-header {
            .icon-wallet {
                float: none;
                margin-bottom: 1rem;
            }

            .details {
                h1 {
                    margin-bottom: 1rem;
                }
                p {
                    line-height: 140%;
                    margin-bottom: 0;
                    font-size: 0.625rem;
                }
            }
        }
        .wallet-actions {
            margin-top: .5rem;
            justify-content: flex-start;
        }
    }
}

