form {

    .fields {
        .field {
            min-height: 68px;
        }
        .field + .field {
            margin-top: 6px;
        }
    }

    .actions {
        margin-top: 16px;
    }

    .divider {
        margin: 24px 0 !important;
    }
}
