.view-address {

    .top-actions {
        height: 32px;
        margin-bottom: 4px;
    }

    .back-link {
        text-decoration: none;
        color: #ff977c;
        font-weight: 600;
        font-size: 0.8125rem;
        &:hover {
            text-decoration: underline;
            color: #fff;
        }

        span {
            vertical-align: middle;
        }

        svg {
            vertical-align: middle;
        }

    }
}

